<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <div style="padding-right: .5rem; display: flex; align-items: center;">
            <img src="{{ path('/images/favicon.ico') }}" alt="logo">
        </div>
        {{ project.name }}
    </a>
</h1>